// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "SF Pro Text", sans-serif;
$text-color: #636b6f;

// color
$blue-darker: #304ea9;
$blue-dark: #007fd5;
$blue: #00b2eb;
$red: #dd5644;
$spicy-pink: #7e7171;
$red-dark: #ff5858;
$light-gray: #d3d3d3;
$light-gray: #d3d3d3;
$background-opacity: rgba(236, 240, 241, 0.8);
